{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-4 education padding-fix">
      <h5 class="text-center mt-2">Education</h5>
      <div class="card mx-auto my-3 w-75 bg-education text-white border-fix flex-grow-1">
        <div class="card-body">
          <h6 class="card-title text-center"><i class="fa-solid fa-circle-check about-circle"></i>2015-2017</h6>
          <p class="card-text text-center">Mathematics-Informatics, National College "Nicu Gane" Falticeni, Romania</p>
        </div>
      </div>
      <div class="card mx-auto my-3 w-75 bg-education text-white border-fix flex-grow-1">
        <div class="card-body">
          <h6 class="card-title text-center"><i class="fa-solid fa-circle-check about-circle"></i>2017-2021</h6>
          <p class="card-text text-center">Mechanical Engineering Spec. HVAC. University of Mechanics "Gheorghe Asachi", Iasi, Romania</p>
        </div>
      </div>
      <div class="card mx-auto my-3 w-75 bg-education text-white border-fix flex-grow-1">
        <div class="card-body">
          <h6 class="card-title text-center"><i class="fa-solid fa-circle-half-stroke about-circle"></i>2023-Present</h6>
          <p class="card-text text-center">Diploma in Full Stack Software Developer, Code Institute, Germany</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h5 class="text-center mt-2">About</h5>
    </div>
  </div>
{% endblock %}